<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="login test">
        <parameter name="user" value="zxc123"></parameter>
        <parameter name="pass" value="123456"></parameter>
        <classes>
            <class name="testng.login_test"></class>
        </classes>
    </test>
</suite>