<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/maruf/Desktop/prac/selenium idea/amazon.com">
        <classes>
            <class name="org.example.test">
                <methods>
                    <include name="search_test"/>
                    <include name="click_test"/>
                    <include name="logintest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>